<html>
  <body>
    <form action="/propositos" method="post">
      <label for="name">Id</label>
      <input type="text" name="id">
      <label for="name">Nome</label>
      <input type="text" name="name">
      <input type="submit">
    </form>
  </body>
</html>