<html>
    <header>
        <%- include('../shared/head.ejs') %>
        <script src="/js/geral/tree_maker.js"></script>
        <link rel="stylesheet" href="/css/geral/tree_maker.css">
    
    </header>
    <body>
    <script type='text/javascript'>
        var proposito =<%-JSON.stringify(proposito)%>
    </script>
        
    <script>
        console.log(proposito)
        // format to match
        let myjson = {
            "proposito":{
                "nome":"alex",
                "diretrizs":[
                    {
                        "nome":"caio",
                        "objetivos":[
                        {
                            "nome":"usl",
                            "indicadors":[
                                {
                                    "nome":"paçoca"
                                }
                            ]
                        },
                        {
                            "nome":"felps"
                        }
                        ]
                    },
                    {
                        "nome":"rpd"
                    }
                ]
            }
        }

        myjson = {
            proposito
        }

        let i = 2;

        let treee = { 1: { }};
        let treeeeParams = { 1 : { trad: myjson.proposito.nome } };

        myjson.proposito.diretrizs.forEach((diretriz) => { 
            if(diretriz.objetivos) {
                Object.assign(treee[1], { [i]: { }})
                const diretrizIndex = i;
                treeeeParams[i] = { trad: diretriz.nome };
                i++;
    
                diretriz.objetivos.forEach((objetivo) => {
                    if(objetivo.indicadors) {
                        Object.assign(treee[1][diretrizIndex], { [i]: { }})
                        const objetivoIndex = i;
                        treeeeParams[i] = { trad: objetivo.nome };
                        i++;
        
                        objetivo.indicadors.forEach((indicador) => {
                            treee[1][diretrizIndex][objetivoIndex][i] = ''
                            treeeeParams[i] = { trad: indicador.nome };
                            i++;
                        })
                    } else {
                        Object.assign(treee[1][diretrizIndex], { [i]: ''})
                        treeeeParams[i] = { trad: objetivo.nome};
                        i++;
                    }
                })
            } else {
                Object.assign(treee[1], { [i]: ''})
                treeeeParams[i] = { trad: diretriz.nome};
                i++;
            }
        })

        console.log(treee);
        console.log(treeeeParams)
    

        window.addEventListener('load', function () {
            treeMaker(treee, {
                id: 'myTree',
                treeParams: treeeeParams,
                card_click: function (element) {
                    console.log(element);
                }
            })
        })
    
    </script>
    <%- include('../shared/nav.ejs') %>
    <div class="container">
        <div id="myTree"></div>
    </div>
    </body>
</html>